*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: :none;
	box-sizing:border-box;
}

body{
	font-family: montserra;
}

nav{
	background: #0082e6;
	height:80px;
	width:100%;

}

label.logo{
	color:white;
font-size: 35px;
line-height: 80px;
padding: 0 100px;
font-weight: bold}

nav u1{
	float:right;
	margin-right:20px;
}

nav u1 li{
	display:inline-block;
	line-height: 80px;
	margin:0 5px;
}

nav u1 l1 a{
	color:white;
	font-size: :17px;
	padding:7px 13px;
	border-radius: 3px;
	text-transform: uppercase;
}

a.active,a:hover{
	background: #1b9bff;
	transition:.5s;
}

.checkbtn{
	font-size:30px;
	color:white;
	float:right;
	line-height: 80px;
	margin-right:40px; 
	cursor:pointer;
	display:none;
}

#check{
	display:none;

}

@media (max-width: 952px) {
  /* Header */
  label.logo {
   font-size: 30px;
   padding-left: 50px;
    /* To set a specifical height of the heading for phone screens*/
  }

  nav u1 li a{
  	font-size: 16px;
  }
}

@media (max-width: 858px) {
	.checkbtn{
		display:block;
	}

	u1{
		position:fixed;
		width:100%;
		height:100vh;
		background: #2c3e50;
		top:80px;
		left:-100%;
		text-align: center;
		transition: all .5s;
	}
	nav u1 li{
		display:block;
		margin:10px 0;
		line-height: 30px;
		padding-bottom: 0px;
	}
	nav u1 li a{
		font-size: :20px;
		color:yellow;
	}
	a:hover,a.active{
		background: none;
		color:#0082e6;
	}

#check:checked ~u1{
	left:0;
}
}